body {
    margin: 0;
    padding: 0;
    background-image: url('dd3c6e709404db0f066124994bf01803.jpg');
    background-size: cover;             
    background-position: center center;   
    background-repeat: no-repeat;       
    height: 100vh;       
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.08cm;
    font-size: larger;
    overflow: hidden;
}

img {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-left: 10%;
}

.cuadro-transparente {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 80%;
    height: 100%;

}
